

.characters_wrapper{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        text-align: center;
        justify-content: space-around;
        text-align: center;
        align-content: center;
        
        

}

.header_wrapper{

        margin-bottom: 50px;
        text-align: center;
        align-content: center;

    }
/* 
    .card_wrapper{
        display: grid;
        text-align: center;
        align-content: center;
    } */
    .ui{
        display: flex;

        flex: 1;
        height: 150px;
        text-align: center;
        justify-content: center;
        flex-basis: 1 1 100%;
    }
            
    .content{
flex:1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
.content > *{
    flex: 1 1 100%;
}

 button {

        align-self: flex-end;
        height: 40px;
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
        font-weight: bold;
        padding: 8px 14px;
        font-weight: 500;
        color: #FFE81F;
        cursor: pointer;
        background-color: black;
        font-family: "Montserrat", sans-serif;
       
      
 }
 .show_details_button{
    margin: 0 30px;
     bottom: 1px;

     font-family: "Montserrat", sans-serif;
 }

 
    